main {
    flex: 1;
}

p {
    margin-bottom: var(--p-margin-bottom);
}

:--wrapper {
    padding: var(--wrapper-vertical-spacing) var(--grid-outer-space);
}

:--heading {
    margin: 0 0 var(--p-header-bottom);
}

h1 {
    font-size: var(--font-size-h1);
}

a {
    color: var(--color-text);
    border-bottom: 1px dotted currentColor;
    text-decoration: none;
}

a:hover {
    color: var(--color-link-hover);
    border-bottom: 1px solid currentColor;
}

header,
footer {
    background-color: var(--color-nav-element);
}
