main {
    flex: 1;
}

p {
    margin-bottom: var(--p-margin-bottom);
}

:--wrapper {
    /* box model */
    padding: var(--wrapper-vertical-spacing) var(--grid-outer-space);
}

:--heading {
    /* box model */
    margin: 0 0 var(--p-header-bottom);

    /* typography */
    line-height: 1.04;
}

h1 {
    /* typography */
    font-size: var(--font-size-h1-mobile);
}

h2 {
    font-size: var(--font-size-h2-mobile);
}

@media (--medium) {
    h1 {
        /* typography */
        font-size: var(--font-size-h1);
    }

    h2 {
        /* typography */
        font-size: var(--font-size-h2);
    }
}

a {
    color: var(--color-text);
    border-bottom: 1px dotted currentColor;
    text-decoration: none;
}

a:hover {
    color: var(--color-link-hover);
    border-bottom: 1px solid currentColor;
}

header,
footer {
    background-color: var(--color-nav-element);
}
