main {
    /* box model */
    flex: 1;
}

p {
    /* box model */
    margin-top: var(--p-margin-top);
}

:--wrapper {
    /* box model */
    padding: var(--wrapper-vertical-spacing) var(--grid-outer-space);
    margin: 0 auto;
    max-width: 55rem;
}

header {
    width: 55rem;
}

:--heading {
    /* typography */
    font-family: 'Roboto Slab', sans-serif;
    font-weight: normal;
    line-height: 1.04;
    /* visuals */
    color: var(--color-header);
}

strong {
    color: var(--color-header);
}

h1 {
    /* typography */
    font-size: var(--font-size-h1-mobile);

}

h2 {
    font-size: var(--font-size-h2-mobile);
}

@media (--medium) {
    h1 {
        /* typography */
        font-size: var(--font-size-h1);
    }

    h2 {
        /* typography */
        font-size: var(--font-size-h2);
    }
}

a {
    /* box model */
    border-bottom: 1px dotted currentColor;

    /* visuals */
    color: var(--color-text);
    text-decoration: none;
}

a:hover {
    /* box model */
    border-bottom: 1px solid currentColor;

    /* visuals */
    color: var(--color-link-hover);
}

header,
footer {
    /* visuals */
    background-color: var(--color-nav-element);
}
