* {
    /* positioning */
    position: relative;
}

html,
body {
    /* box model */
    line-height: 1.5;
}

body {
    /* box model */
    display: flex;
    flex-direction: column;

    /* typography */
    font-family: 'Roboto', sans-serif;
    font-size: var(--font-size-base);
    font-weight: normal;

    /* visuals */
    color: var(--color-text);
}
