
<noscript>
  
  
</noscript>
<div id="blog" class="row">
  <article class="blog-post">
    <div class="col-md-3 col-sm-3">
      <div class="blog-date-sec">
        <h3>03</h3><span>JAN 2015</span>
      </div>
    </div>
    <div class="col-md-8 col-sm-8 col-xs-10">
      <div class="blog-content">
        <h3><a ui-sref="post({'year': '2015', 'month': '01', 'day': '03', 'title': 'ExpandableSearchV2' } )">Expandable search button like in the website of Apple.com</a>
          <!-- <a href="/blog/post/2015/01/03/ExpandableSearchV2/">Expandable search button like in the website of Apple.com</a>-->
        </h3>
        <div class="body">
<p>In my previous blog post, I talked about creating <a href="/#/blog/post/2015/01/02/ResetAnimatedInput">a expandable search box with a reset button</a>.
In this blog post, we had a focusable search box and when we the search box gets the focus, the problem was to detect the source of the focus out
event. Given the information that sends the focus out event, I can decide whether to shrink the search box or not.</p>

<p>Suppose, we want to take a step further and want our search box to be totally shrunk like the one in the website of <a href="www.apple.com">Apple.com</a>.
If the search box is initially shrunk, how will it get the focus? </p>

</div>
      </div>
    </div>
  </article>
  <article class="blog-post">
    <div class="col-md-3 col-sm-3">
      <div class="blog-date-sec">
        <h3>02</h3><span>JAN 2015</span>
      </div>
    </div>
    <div class="col-md-8 col-sm-8 col-xs-10">
      <div class="blog-content">
        <h3><a ui-sref="post({'year': '2015', 'month': '01', 'day': '02', 'title': 'ResetAnimatedInput' } )">Expandable search with reset button</a>
          <!-- <a href="/blog/post/2015/01/02/ResetAnimatedInput/">Expandable search with reset button</a>-->
        </h3>
        <div class="body">
<p>HTML5 defines new input search types such as text, search, tel, date, email, etc. Mobile devices display the related 
keyboard using this type. For instance, a <code>&lt;input type="date"&gt;</code> will reveal a date picker in your mobile device. 
Or <code>&lt;input type="search"&gt;</code> shows a reset button at the right. However, for desktop browsers the support may be 
problematic. For instance, in the case of <code>&lt;input type="search"&gt;</code>, reset button works fine in Opera, Safari, and Chrome but in 
Firefox. Thus, either you want the reset button for all browsers, or you want to design your own fancy one, of which I will
 demonstrate here.</p>

</div>
      </div>
    </div>
  </article>
  <article class="blog-post">
    <div class="col-md-3 col-sm-3">
      <div class="blog-date-sec">
        <h3>27</h3><span>JUN 2014</span>
      </div>
    </div>
    <div class="col-md-8 col-sm-8 col-xs-10">
      <div class="blog-content">
        <h3><a ui-sref="post({'year': '2014', 'month': '06', 'day': '27', 'title': 'ContextMenuDirectiveAngularJS' } )">ContextMenu with AngularJS Directives</a>
          <!-- <a href="/blog/post/2014/06/27/ContextMenuDirectiveAngularJS/">ContextMenu with AngularJS Directives</a>-->
        </h3>
        <div class="body">
<p>Directives are the building block of AngularJS. Up till now, I was an end user for directives. Beforehand, I had some small and unsuccessful trials. This time, I take my time to read blogs, books and watch videos and realized that there are several concepts to understand to fully comprehend directives. For me, the most important ones are linking, compiling, defining the scope of the directive and data binding. </p>

</div>
      </div>
    </div>
  </article>
  <article class="blog-post">
    <div class="col-md-3 col-sm-3">
      <div class="blog-date-sec">
        <h3>25</h3><span>JAN 2014</span>
      </div>
    </div>
    <div class="col-md-8 col-sm-8 col-xs-10">
      <div class="blog-content">
        <h3><a ui-sref="post({'year': '2014', 'month': '01', 'day': '25', 'title': 'CoffeeScriptBackboneJSEgitimi' } )">CoffeeScript ve BackboneJS Dolu Bir Haftasonu</a>
          <!-- <a href="/blog/post/2014/01/25/CoffeeScriptBackboneJSEgitimi/">CoffeeScript ve BackboneJS Dolu Bir Haftasonu</a>-->
        </h3>
        <div class="body">
<p>Aslında her şey bir tesadüf eseri başladı. Bütün haftasonunu kapsayan dolu dolu bir CoffeScript ve BackboneJS eğitimi olduğunu öğrendim. Nasıl öğrendiğimi hiç sormayın oldukça düşük bir olasılık. Yüce kozmoz bu eğitime katılmam için gerekli olan zincirleme olayları bilinçli olarak başlattı diye düşünüyorum :)</p>

</div>
      </div>
    </div>
  </article>
</div>