extends _layout/default

include _mixins/nav
include _mixins/image
include _mixins/header

block header
  +header(headerMenuItems)

block content
  div.background
  main
    h1.sr-only Yaprak Ayazoğlu
    div.me
      div
        | <span>YAPRAK AYAZOĞLU</span> <br>
      div
        | front-end web developer @ <a href='https://enrise.com/'>Enrise</a>
        | <br>
        | mentor @ <a href='https://lonca.works/'>Lonca</a>
      div
        | data visualization and infographics admirer
        | <br>
        | passionate tango dancer and DJ
        | <br>
        | enjoys drawing

      +nav('social-menu')
        each item, index in socialMenuItems
          li
            a(href=item.url)
              +image(src=item.iconSrc)

