extends _layout/default

include _mixins/nav
include _mixins/image


block content

  div.background
  main
    h1.sr-only Yaprak Ayazoğlu
    div.me
      div
        | <span>YAPRAK AYAZOĞLU</span> <br>
      div
        | front-end web developer @ <a href='https://enrise.com/'>Enrise</a>
        | <br>
        | mentor @ <a href='https://lonca.works/'>Lonca</a>
      div
        | data visualization and infographics admirer
        | <br>
        | passionate tango dancer and DJ
        | <br>
        | enjoys drawing
      -
        var socialMenuItems = [
          {iconSrc: 'twitter.svg'},
          {iconSrc: 'github.svg'},
          {iconSrc: 'mail.svg'},
          {iconSrc:'in.svg'}
        ];
        var socialMenu = {name: 'social-menu', items: socialMenuItems};
      +nav('social-menu')
        each item in socialMenuItems
          li
            a(href='')
              +image(src=item.iconSrc)

