extends _layout/default

include _mixins/nav
include _mixins/image
include _mixins/header

block header
  +header(headerMenuItems)

block content
  div.background
  main.home
    h1 Yaprak Ayazoğlu
    div.me
      p
        | freelance front-end web developer and consultant
      p
        | Owns <a href='https://frontconnect.nl'>Front Connect</a>
      p
        | Google Developer Expert on Web Technologies
      p
        | mentor @ <a href='https://lonca.works/'>Lonca</a>
      p
        | Public speaker
      p
        | used to dance tango a lot, now a full time developer and mom
      p
        | enjoys drawing and making robots with her son

    +nav('social-menu')
      each item, index in socialMenuItems
        li
          a(href=item.url)
            +image(src=item.iconSrc)

