extends _layout/default

block content
  div.background
  main
    h1.sr-only Yaprak Ayazoğlu
    div.me
      div
        | <span>YAPRAK AYAZOĞLU</span> <br>
      div
        | front-end web developer @ <a href='https://enrise.com/'>Enrise</a>
        | <br>
        | mentor @ <a href='https://lonca.works/'>Lonca</a>
      div
        | data visualization and infographics admirer
        | <br>
        | passionate tango dancer and DJ
        | <br>
        | enjoys drawing
    nav: ul.social-menu
      li
        a(href=''): img(src='/img/twitter.svg')
      li
        a(href=''): img(src='/img/github.svg')
      li
        a(href=''): img(src='/img/mail.svg')
      li
        a(href=''): img(src='/img/in.svg')
