// variables
$font-size-base:        16px;
$font-size-enlarge:     18px;

$font-size-h1:          floor(($font-size-base * 2.6));  // ~36px
$font-size-h2:          floor(($font-size-base * 1.75)); // ~24px
$font-size-h3:          ceil(($font-size-base * 1.25));  // ~18px
$font-size-h4:          ceil(($font-size-base * 1.25));  // ~18px

//** By default, this inherits from the `<body>`.
$headings-font-weight:  normal; //500;
$headings-line-height:  1.1;


$font-family: 'oxygen', sans-serif;
