nav ul {
    /* box model */
    display: flex;
    list-style: none;
}

nav :any-link {
    /* box model */
    padding: 0 var(--nav-link-padding) 0 0;

    /* typography */
    font-size: var(--font-size-main-nav);

    /* visuals */
    text-decoration: none;
}
