---
title: Home
---

<div class="container-fluid">
  <div class="row-fluid">
  	<div class="span2">
  		<img src="/img/profil.jpg">
  	</div>
    <div class="span8">
      <div style="width:200px;">
      <h6>About Me</h6>
      I'm a programmer in İstanbul, Turkey with a BS degree in 
      <a href="http://www.ee.bilkent.edu.tr/main/index.php">EE</a>. 
      Currently I'm a software developer at <a href="http://www.argela.com/"> Argela.</a> <%= link_to "Continues...", "/about/" %>
     </div>
    	<h6>Recent Blog Posts</h6>
          <ul class="arrow-list">
            <% recent_posts(3).each do |article| %>
            <li>
              <%= link_to(article[:title], article.path) %>
              at
              <%=
                 require "time"
                 Time.parse(article[:created_at]).strftime("%e %b, %Y")
              %>
            </li>
            <% end %>
          </ul>
          <div><%= link_to "Continues...", "/blog/" %></div>
    </div>
    <div class="span2 text-right">
     </div>
  </div>
</div>
