/* line 1, ../sass/code.scss */
code {
  font-size: 8pt;
  background: #f8f8f8;
}
/* line 4, ../sass/code.scss */
code .hll {
  background-color: #ffffcc;
}
/* line 7, ../sass/code.scss */
code .c {
  color: #8f5902;
  font-style: italic;
}
/* line 12, ../sass/code.scss */
code .err {
  color: #a40000;
  border: 1px solid #ef2929;
}
/* line 17, ../sass/code.scss */
code .g {
  color: black;
}
/* line 21, ../sass/code.scss */
code .k {
  color: #204a87;
  font-weight: bold;
}
/* line 26, ../sass/code.scss */
code .l {
  color: black;
}
/* line 30, ../sass/code.scss */
code .n {
  color: black;
}
/* line 34, ../sass/code.scss */
code .o {
  color: #ce5c00;
  font-weight: bold;
}
/* line 39, ../sass/code.scss */
code .x {
  color: black;
}
/* line 43, ../sass/code.scss */
code .p {
  color: black;
  font-weight: bold;
}
/* line 48, ../sass/code.scss */
code .cm {
  color: #8f5902;
  font-style: italic;
}
/* line 53, ../sass/code.scss */
code .cp {
  color: #8f5902;
  font-style: italic;
}
/* line 58, ../sass/code.scss */
code .c1 {
  color: #8f5902;
  font-style: italic;
}
/* line 63, ../sass/code.scss */
code .cs {
  color: #8f5902;
  font-style: italic;
}
/* line 68, ../sass/code.scss */
code .gd {
  color: #a40000;
}
/* line 72, ../sass/code.scss */
code .ge {
  color: black;
  font-style: italic;
}
/* line 77, ../sass/code.scss */
code .gr {
  color: #ef2929;
}
/* line 81, ../sass/code.scss */
code .gh {
  color: navy;
  font-weight: bold;
}
/* line 86, ../sass/code.scss */
code .gi {
  color: #00a000;
}
/* line 90, ../sass/code.scss */
code .go {
  color: black;
  font-style: italic;
}
/* line 95, ../sass/code.scss */
code .gp {
  color: #8f5902;
}
/* line 99, ../sass/code.scss */
code .gs {
  color: black;
  font-weight: bold;
}
/* line 104, ../sass/code.scss */
code .gu {
  color: purple;
  font-weight: bold;
}
/* line 109, ../sass/code.scss */
code .gt {
  color: #a40000;
  font-weight: bold;
}
/* line 114, ../sass/code.scss */
code .kc {
  color: #204a87;
  font-weight: bold;
}
/* line 119, ../sass/code.scss */
code .kd {
  color: #204a87;
  font-weight: bold;
}
/* line 124, ../sass/code.scss */
code .kn {
  color: #204a87;
  font-weight: bold;
}
/* line 129, ../sass/code.scss */
code .kp {
  color: #204a87;
  font-weight: bold;
}
/* line 134, ../sass/code.scss */
code .kr {
  color: #204a87;
  font-weight: bold;
}
/* line 139, ../sass/code.scss */
code .kt {
  color: #204a87;
  font-weight: bold;
}
/* line 144, ../sass/code.scss */
code .ld {
  color: black;
}
/* line 148, ../sass/code.scss */
code .m {
  color: #0000cf;
  font-weight: bold;
}
/* line 153, ../sass/code.scss */
code .s {
  color: #4e9a06;
}
/* line 157, ../sass/code.scss */
code .na {
  color: #c4a000;
}
/* line 161, ../sass/code.scss */
code .nb {
  color: #204a87;
}
/* line 165, ../sass/code.scss */
code .nc {
  color: black;
}
/* line 169, ../sass/code.scss */
code .no {
  color: black;
}
/* line 173, ../sass/code.scss */
code .nd {
  color: #5c35cc;
  font-weight: bold;
}
/* line 178, ../sass/code.scss */
code .ni {
  color: #ce5c00;
}
/* line 182, ../sass/code.scss */
code .ne {
  color: #cc0000;
  font-weight: bold;
}
/* line 187, ../sass/code.scss */
code .nf {
  color: black;
}
/* line 191, ../sass/code.scss */
code .nl {
  color: #f57900;
}
/* line 195, ../sass/code.scss */
code .nn {
  color: black;
}
/* line 199, ../sass/code.scss */
code .nx {
  color: black;
}
/* line 203, ../sass/code.scss */
code .py {
  color: black;
}
/* line 207, ../sass/code.scss */
code .nt {
  color: #204a87;
  font-weight: bold;
}
/* line 212, ../sass/code.scss */
code .nv {
  color: black;
}
/* line 216, ../sass/code.scss */
code .ow {
  color: #204a87;
  font-weight: bold;
}
/* line 221, ../sass/code.scss */
code .w {
  color: #f8f8f8;
  text-decoration: underline;
}
/* line 226, ../sass/code.scss */
code .mf {
  color: #0000cf;
  font-weight: bold;
}
/* line 231, ../sass/code.scss */
code .mh {
  color: #0000cf;
  font-weight: bold;
}
/* line 236, ../sass/code.scss */
code .mi {
  color: #0000cf;
  font-weight: bold;
}
/* line 241, ../sass/code.scss */
code .mo {
  color: #0000cf;
  font-weight: bold;
}
/* line 246, ../sass/code.scss */
code .sb {
  color: #4e9a06;
}
/* line 250, ../sass/code.scss */
code .sc {
  color: #4e9a06;
}
/* line 254, ../sass/code.scss */
code .sd {
  color: #8f5902;
  font-style: italic;
}
/* line 259, ../sass/code.scss */
code .s2 {
  color: #4e9a06;
}
/* line 263, ../sass/code.scss */
code .se {
  color: #4e9a06;
}
/* line 267, ../sass/code.scss */
code .sh {
  color: #4e9a06;
}
/* line 271, ../sass/code.scss */
code .si {
  color: #4e9a06;
}
/* line 275, ../sass/code.scss */
code .sx {
  color: #4e9a06;
}
/* line 279, ../sass/code.scss */
code .sr {
  color: #4e9a06;
}
/* line 283, ../sass/code.scss */
code .s1 {
  color: #4e9a06;
}
/* line 287, ../sass/code.scss */
code .ss {
  color: #4e9a06;
}
/* line 291, ../sass/code.scss */
code .bp {
  color: #3465a4;
}
/* line 295, ../sass/code.scss */
code .vc {
  color: black;
}
/* line 299, ../sass/code.scss */
code .vg {
  color: black;
}
/* line 303, ../sass/code.scss */
code .vi {
  color: black;
}
/* line 307, ../sass/code.scss */
code .il {
  color: #0000cf;
  font-weight: bold;
}
