<footer>
  <nav>
    <ul>
      <li>
        <a href="mailto:info@frontconnect.nl">
          <span class="sr-only">E-mail</span>
          <img src="/assets/images/mail.svg" alt="Email">
        </a>
      </li>
      <li>
        <a href="https://nl.linkedin.com/in/yaprakayazoglu">
          <span class="sr-only">LinkedIn</span>
          <img src="/assets/images/in.svg" alt="Email">
        </a>
      </li>
      <li>
        <a href="https://twitter.com/yaprakaya">
          <span class="sr-only">Twitter</span>
          <img src="/assets/images/twitter.svg" alt="Email">
        </a>
      </li>
      <li>
        <a href="https://github.com/ankakusu">
          <span class="sr-only">GitHub</span>
          <img src="/assets/images/github.svg" alt="Email">
        </a>
      </li>
    </ul>
  </nav>
</footer>
