//- includes/foot.pug
//footer
  //div: p This web site is powered by&#32;
  //  | <a href='https://pugjs.org'>Pug</a>, and <a href='http://gulpjs.com/'>Gulp</a>
  //  | , and hosted on <a href='https://github.com'>Github</a>.

