include ../_mixins/nav

-
  var mainMenuItems = [
  {
    url: '/',
    name: '/home'
  },
  {
    url: '/blog',
    name: '/blog'
  },
  {
    url: '/tango',
    name: '/tango'
  }];

header
  +nav('header-nav', mainMenuItems)
