
extends ../_layout/default
include ../_mixins/header

block header
  +header(headerMenuItems)
block content
  main
    h1 #{post.metadata.title}
    - var date = post.metadata.created_at.substr(0, post.metadata.created_at.indexOf(' '));
    p.caption #{moment(date).format('LL')}
    div !{blog}
