
<noscript>
  <%
  def getItem( path, index)
    path.split('/')[index]
  end 
  %>
  <%
  def article_summary(item, read_more_text="Read more...", separator="<!--MORE-->")
     summary,body = item.compiled_content.split(separator)
     return item.compiled_content unless body
     link = link_to( (item[:read_more] || read_more_text), item.path, :class=>'readmore' )
     return summary
  end
  %>
</noscript>
<div id="blog" class="row"><% sorted_articles.each do |article| %>
  <article class="blog-post">
    <div class="col-md-3 col-sm-3">
      <div class="blog-date-sec">
        <h3><%= Time.parse(article[:created_at]).strftime("%d") %></h3><span><%= Time.parse(article[:created_at]).strftime("%^b %Y") %></span>
      </div>
    </div>
    <div class="col-md-8 col-sm-8 col-xs-10">
      <div class="blog-content">
        <h3><a ui-sref="post({'year': '<%= getItem(article.path, 3) %>', 'month': '<%= getItem(article.path, 4) %>', 'day': '<%= getItem(article.path, 5) %>', 'title': '<%= getItem(article.path, 6) %>' } )"><%= article[:title] %></a>
          <!-- <%= link_to(article[:title], article.path) %>-->
        </h3>
        <div class="body"><%= article_summary( article ) %></div>
      </div>
    </div>
  </article><% end %>
</div>