<% render 'default', :css => "blog" do %>


      <div class="container-fluid">
	<div class="row-fluid">
		<div class="span2"></div>
		<div class="span8">
			<div id="post">
				<div class="head">
					<div class="title"> <%= @item[:title]  %> </div>
					<div class="subtitle"> posted at
					    <%=
					       require 'time'
					       tm = Time.parse(@item[:created_at])
					       tm.strftime('%B %-d, %Y')
					    %> </div>
					<div class="share">
					    <!-- AddThis Button BEGIN -->
					    <div class="addthis_toolbox addthis_default_style ">
					      <a class="addthis_button_preferred_1"></a>
					      <a class="addthis_button_preferred_2"></a>
					      <a class="addthis_button_preferred_3"></a>
					      <a class="addthis_button_preferred_4"></a>
					      <a class="addthis_button_compact"></a>
					    </div>
					    <script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
					    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-518fbaf42b401c64"></script>
					    <!-- AddThis Button END -->
				  </div>
				</div>
				<div class="body"> 
					<%= yield %>

				</div>
			</div>
		</div>
	</div>
</div>


<% end %>