
extends ../layout/default.pug

block content
  div.background
  main
    h1.sr-only Yaprak Ayazoğlu
    p Yaprak Ayazoğlu is a front-end Web developer from Turkey,
      | who is currently living in the Netherlands.
      | Her main focus is to develop high performance, responsive
      | and accessible websites.
