:root {
    /* Main color selection */
    --color-brand: #566b78;
    --color-dark: #333;
    --color-secondary: rgb(110, 96, 134);
    --color-highlight: #9c0000;

    --color-background: #eee;

    /* main colors */
    --color-white: #fff;

    /* Application definitions */
    --color-text: var(--color-brand);
    --color-header: var(--color-dark);

    --color-link-hover: var(--color-highlight);
    --color-menu-link: color(var(--color-secondary) a(.6));
    --color-nav-element: color(var(--color-white) a(.3));

    --color-code-background: var(--color-background);
}
