mixin nav(navName, items)
  nav
    ul(class=navName)
      if block
        block
      else
        each item, index in items
          li
            a(href=item.url class=item.classed)= item.name
