
mixin postSummary(post)
  div.post-summary
    if block
      block
    else
      h2
        a(href=post.url) #{post.metadata.title}
        - var date = post.metadata.created_at.substr(0, post.metadata.created_at.indexOf(' '));
      p #{moment(date).format('LL')}
      p !{post.summary}
